<div id="about" class="section">
  <div>
    <img src="/assets/poster.jpg" />
  </div>
  <div>
    <p>
      It is the last day of summer and Julia is at the local bike shop hoping
      that her bike can be fixed. While waiting she browses the shop until she
      stumbles upon a comic book. The comic explores a world which stylizes the
      sights and sounds she would experience on the trails.
    </p>
    <p>
      Blended with her imagination she finds herself on a ride like no other. A
      young girl hopes that her broken bike will be fixed for the last day of
      summer.
    </p>
    <p>
      She finds a comic book in the local bike shop which explores the sights
      and sounds she loves most. Combined with her imagination she can live the
      ride she dreams of.
    </p>
  </div>
</div>
