<div id="crew" class="row text-center no-gutters">
  <div class="col-md-6 offset-md-3 col-sm-12">
    <div class="row bio">
      <div class="col-lg-6 col-md-12">
        <img
          class="img-fluid"
          src="assets/kristinafnl.jpg"
          alt="Kristina the Art Director"
        />
      </div>
      <div class="col-lg-6 col-md-12">
        <h3>Kristina Wayte</h3>
        <h5>Art Director / Producer / FX</h5>
        <h4>@sketchytrails</h4>
        <p>
          Kristina Wayte has been drawing her whole life and polished those
          skills while earning a BFA in Animation/Illustration at San Jose State
          University. Her first job she worked as a 2D Artist at a mobile gaming
          studio thinking she would continue to work in the entertainment
          industry.
        </p>
        <p>
          She has always been passionate about spending time in the outdoors and
          would sketch the things she saw and did in the forests and mountains.
          This led to her specializing in creating mountain bike influenced
          illustrations and creating graphics for t-shirts, logos and marketing
          materials.
        </p>
        <p>
          She started freelancing full time and has been able to work on a huge
          variety of projects and themes, which eventually led to the creation
          of her first film, a live-action and animation blend based upon her
          comic "The Trails Series."
        </p>
      </div>
    </div>
    <div class="row bio">
      <div class="col-lg-6 col-md-12">
        <img
          class="img-fluid"
          src="/assets/lukefnl.jpg"
          alt="Luke the cinematographer"
        />
      </div>
      <div class="col-lg-6 col-md-12">
        <h3>
          Luke Allen Humphrey
        </h3>
        <h5>Live-action Director / Cinematographer</h5>
        <h4>@lukeallenhumphrey</h4>
        <p>
          Luke has been interested in storytelling and music since he was young.
          He switched his focus from music to comparative literature and cinema
          studies in college, then used portrait and fashion photography as a
          way to explore light and human expression.
        </p>
        <p>
          A late season climbing trip up the heavily glaciated Mt. Rainier in
          2009 moved him to re-direct his creative focus to alpine terrain,
          where he loves exploring our relationship with extreme, natural
          environments. For the past decade, he's been hiking, climbing, skiing,
          or splitboarding around the world. More recently he's become obsessed
          with mountain biking as yet another dynamic and immersive means to
          experience natural environments.
        </p>
        <p>
          Luke gets a lot of inspiration from visual filmmakers such as Terrence
          Malick, Andrei Tarkovsky, Wong Kar-wai and from athletes who push both
          physical and emotional boundaries. He also likes nachos.
        </p>
      </div>
    </div>
    <div class="bio row">
      <div class="col-lg-6 col-md-12">
        <img
          src="/assets/jason.jpg"
          class="img-fluid"
          alt="Jason the animator"
        />
      </div>
      <div class="col-lg-6 col-md-12">
        <h3>Jason Wong</h3>
        <h5>2D Animator</h5>
        <p>
          Jason grew up in the Sacramento area in California, loving cartoons,
          video games and sports. A graduate from San Jose State University,
          Jason has worked in TV and video games. He has worked for clients such
          as Fox's Animation Domination Hi-Def, Glu Mobile and Apple.
        </p>
      </div>
    </div>
    <div class="bio row">
      <div class="col-lg-6 col-md-12">
        <img src="/assets/julia.png" class="img-fluid" alt="Julia the rider" />
      </div>
      <div class="col-lg-6 col-md-12">
        <h3>Julia Lofqvist Traum</h3>
        <h5>rider</h5>
        <h4>@shredulia</h4>
        <p>
          Julia started riding bikes when she was about 4, she's age 13 during
          film production. Started going to Duthie Hill quite a bit when she was
          6 and just loved to hit all the jumps and drops. Met Kat Sweet at
          Duthie Days and was asked to be on a her new downhill team when she
          was about 8 or so??
        </p>
        <p>
          Also, she loves Macklemore, seen him live twice; loves the idea of his
          song 10000 hours taken from the book outliers; only hour upon hour of
          practice will help you reach your goals. Julia is almost completely
          lacking in egotism and truly loves to encourage young riders,
          especially girls. Julias big dream is to become Queen of Crankworx.
        </p>
      </div>
    </div>
    <div class="bio row">
      <div class="col-lg-6 col-md-12">
        <img
          src="assets/meg.jpg"
          class="img-fluid"
          alt="Meg additional camera"
        />
      </div>
      <div class="col-md-6 col-sm-12">
        <h3>Meg Patillo Valliant</h3>
        <h5>Additional Camera</h5>
      </div>
    </div>
  </div>
</div>
