---
# Only the main Sass file needs front matter (the dashes are enough)
---

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background-image: url("/assets/tree_bark.png");
}

* {
  box-sizing: border-box;
  font-family: "Open Sans";
}

.nav {
  background-color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  a {
    color: #ffffff;
    text-decortation: none;

    &:hover {
      color: #97b595;
    }
  }
}

.main-img {
  position: relative;
  img {
    width: 100%;
  }
  > div {
    font-size: 6vw;
    font-family: "Bebas Neue", cursive;
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn ease 3s;
  }
}

.about {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  padding-right: 20%;
  padding-left: 20%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
