---
layout: default
---

<div class="home text-center">
  <div class="main-img">
    <img src="/assets/main.jpg" />
    <div>My Last Day of Summer</div>
  </div>
  <div id="about" class="about section">
    <div>
      <img src="/assets/poster.jpg" />
    </div>
    <div>
      <p>
        It is the last day of summer and Julia is at the local bike shop hoping
        that her bike can be fixed. While waiting she browses the shop until she
        stumbles upon a comic book. The comic explores a world which stylizes
        the sights and sounds she would experience on the trails. Blended with
        her imagination she finds herself on a ride like no other. A young girl
        hopes that her broken bike will be fixed for the last day of summer.
      </p>
      <p>
        She finds a comic book in the local bike shop which explores the sights
        and sounds she loves most. Combined with her imagination she can live
        the ride she dreams of.
      </p>
      <p>
        On-site filming locations
      </p>
      <p>
        Ranger Creek Deep Creek Duthie Hill Mountain Bike park G.H.Y. Bikes
        Downtown Renton, Washington More information:
        https://www.pinkbike.com/u/raceface/blog/video-race-face-presents-my-last-day-of-summer-kristina-wayte.html
      </p>
    </div>
  </div>
</div>

<div id="watch">
  <iframe
    width="860"
    height="615"
    src="https://www.youtube.com/embed/ljBtCtVfwtg"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>

<div class="crew text-center">
  <div id="crew" class="crew section">
    <div class="bio">
      <div>
        <div>
          Kristina Wayte / Art Director / Producer / FX @ sketchytrails
        </div>
        <p>
          Kristina Wayte has been drawing her whole life and polished those
          skills while earning a BFA in Animation/Illustration at San Jose State
          University. Her first job she worked as a 2D Artist at a mobile gaming
          studio thinking she would continue to work in the entertainment
          industry. She has always been passionate about spending time in the
          outdoors and would sketch the things she saw and did in the forests
          and mountains. This led to her specializing in creating mountain bike
          influenced illustrations and creating graphics for t-shirts, logos and
          marketing materials. She started freelancing full time and has been
          able to work on a huge variety of projects and themes, which
          eventually led to the creation of her first film, a live-action and
          animation blend based upon her comic "The Trails Series."
        </p>
      </div>
    </div>
  </div>
</div>
